<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--TST oAuth-->
    <add key="TST_REDIRECT_URL" value="http://localhost:8080" />
    <add key="TST_IONAPIBASE_URL" value="https://mingle-ionapi.eu1.inforcloudsuite.com" />
    <add key="TST_AUTHORIZATION_ENDPOINT" value="https://mingle-sso.eu1.inforcloudsuite.com:443/AGGREKO_TST/as/authorization.oauth2" />
    <add key="TST_TOKEN_ENDPOINT" value="https://mingle-sso.eu1.inforcloudsuite.com:443/AGGREKO_TST/as/token.oauth2" />
    <add key="TST_CLIENT_ID" value="AGGREKO_TST~TrBxYjSIEPLBnJovOwUIwQjei7j4iB6kiDrHF3Mob1Q" />
    <add key="TST_CLIENT_SECRET" value="-ZFoPqIrXkaJFDPREIH4dKmXnMNnIrQHpoFhJH1YGjkD4RuZdK4YI_sCMPoTiQ9c1_DMtQv9Pw9Ba3t4h_uQuQ" />
    <!--TRN oAuth-->
    <add key="TRN_REDIRECT_URL" value="http://localhost:8080" />
    <add key="TRN_IONAPIBASE_URL" value="https://mingle-ionapi.eu1.inforcloudsuite.com/" />
    <add key="TRN_AUTHORIZATION_ENDPOINT" value="https://mingle-sso.eu1.inforcloudsuite.com:443/AGGREKO_TRN/as/authorization.oauth2" />
    <add key="TRN_TOKEN_ENDPOINT" value="https://mingle-sso.eu1.inforcloudsuite.com:443/AGGREKO_TRN/as/token.oauth2" />
    <add key="TRN_CLIENT_ID" value="AGGREKO_TRN~v-vOmTx-QxWWCPWIhWU83HId4xeI-Tv1uHWdtGAaIYs" />
    <add key="TRN_CLIENT_SECRET" value="oFPJyGVZBnSy0bkS-eIYKJ33M8nvqJ7QYN_79GLDyjSBQE6qWPoZunqvSG12DCQxCXXM1mWFbsglRNoh9Wd_Dg" />
    <!--PRD oAuth-->
    <add key="PRD_REDIRECT_URL" value="http://localhost:8080" />
    <add key="PRD_IONAPIBASE_URL" value="https://mingle-ionapi.eu1.inforcloudsuite.com/" />
    <add key="PRD_AUTHORIZATION_ENDPOINT" value="https://mingle-sso.eu1.inforcloudsuite.com:443/AGGREKO_PRD/as/authorization.oauth2" />
    <add key="PRD_TOKEN_ENDPOINT" value="https://mingle-sso.eu1.inforcloudsuite.com:443/AGGREKO_PRD/as/token.oauth2" />
    <add key="PRD_CLIENT_ID" value="AGGREKO_PRD~Y3hh7EmwvoCDff0b91VA4xo_fcTRo2j-fR0vRnAWyZk" />
    <add key="PRD_CLIENT_SECRET" value="RUv_X_ZGQIX167C1buq7MwxjkhY__-WFKGaOofzCzL-_p4IAA1xHohwsptSHmZxCMMdTHUs30TG67ACnqfBNEw" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>